<style title="local">
button#crn-button-6060 { 
  background-color: rgb(255, 128, 64);
}

#crn-button-733536 { 
  background-color: rgb(255, 0, 0);
}

#crn-button-97691 { 
  background-color: rgb(128, 0, 64);
}
</style>
<h1 class="component-holder text-center" xattr-position="text-center" xattr-type="h1" data-component="crn-text-component" id="crn-text-component-278546">Componente Visual Botão</h1>


<div class="component-holder ng-binding ng-scope" data-component="crn-button" id="crn-button-613577"><button class="btn btn-default k-button btn-block" ng-click="" xattr-fullsize="btn-block" xattr-theme="btn-default" xattr-disabled=""><i class="glyphicon glyphicon-ok"></i> <span style="background-color: rgb(255, 128, 64);">Confirmar</span></button></div><div class="component-holder ng-binding ng-scope" data-component="crn-button" id="crn-button-386687"><button class="btn k-button btn-block btn-info" ng-click="" xattr-fullsize="btn-block" xattr-theme="btn-info" xattr-disabled=""><i class="glyphicon glyphicon-home"></i> <span>Button </span></button></div>